{% extends 'posts/base.html' %}

{% block content %}
<style>
    .centered {
        text-align: left;
        margin-top: 100px;
        margin-left: 50px;
    }
    .exit-symbol {
        width: 100px;
        height: auto;
    }
    .q-section {
        margin-top: 20px;
        margin-left: 250px;
        color: rgb(73,0,122);
        font-size: 30px;
        font-family: serif;
        
    }
    .a-section {
        margin-top: 20px;
        margin-left: 270px;
        color: rgb(73,0,122);
        font-size: 30px;
        font-family: serif;
        
    }
    .qa-section h2 {
        margin-bottom: 10px;
        color: rgb(73,0,122);
        font-size: 24px;
    }
</style>

<div class="centered">
    <a href="http://127.0.0.1:8000/"> 
        <img src="/static/Symbols/exitsymbol.jpg" alt="Exit Door" class="exit-symbol">
    </a>
</div>

<div class="q-section">
    <h2>Q: How to upload pictures?</h2>
</div>
<div class="a-section">
    <h2>A:</h2>
</div>
{% endblock content %}