# Hiding our settings.py contains sensitive information and configuration
# As well as other files to keep our code base in github concise some files we can hide

AltText/settings.py
.idea

# hello world

# Media files
media/

# hello world
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.sqlite3
*.db
.DS_Store

# Log files
*.log

# Static files
# posts/static

# Secret keys and settings files
*.env
*.secret
*.key
*.pem

# Other Django-related files and directories
*.pyc
.vscode/

# we need these files so we commenting them out
# local migration files we dont need in github repo
# db schema of our apps we have 2 so far
# posts/migrations/
# users/migrations/

# exclude requirements.txt
# requirements.txt

# exclude Elastic Beanstalk configuration files
.ebextensions/
.ebignore
.elasticbeanstalk/

# Elastic Beanstalk deployment artifacts
*.zip
*.war
*.jar

# Elastic Beanstalk logs
logs/