.idea

# Media files
media/post_pics
media/profile_pics

# collectstatic files
static_deploy/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.sqlite3
*.db
.DS_Store

# Log files
*.log

# Secret keys and settings files
*.env
*.secret
*.key
*.pem

# Other Django-related files and directories
*.pyc
.vscode/

# we need these files so we commenting them out
# local migration files we dont need in github repo
# db schema of our apps we have 2 so far
# posts/migrations/
# users/migrations/

# exclude Elastic Beanstalk configuration files
#.ebextensions/
#.ebignore
#.elasticbeanstalk/

# Elastic Beanstalk deployment artifacts
*.zip
*.war
*.jar

# Elastic Beanstalk logs
logs/