{% extends "blog/base.html" %}
{% block content %}
    <!--using our posts and use code block-->
    {% for post in posts %}
         <article class="media content-section">
          <img src="{{ post.author.profile.image.url }}" alt="profile-picture-user" class = "rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <!--post.date_posted keeps time posted-->
                <!--below we filter formate date-->
              <small class="text-muted">{{ post.date_posted |date:"F d, Y"}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}


    <!-- checking see if it is paginated -->
    {% if is_paginated %}
        <!-- if current page has previous page -->
        {% if page_obj.has_previous %}
          <!-- First page -->
          <a href="?page=1" class = "btn btn-outline-info mb-4">First</a>
          <!-- Previous Page -->
          <a href="?page= {{ page_obj.previous_page_number }}" class = "btn btn-outline-info mb-4">Previous Page</a>
        {% endif %}
        <!-- Display certain number pages around current page -->
        {% for num in page_obj.paginator.page_range %}
          <!-- print current page and surrounding it -->
          <!-- checking see if we are on current page -->
          {% if page_obj.number == num %}
            <a href="?page= {{ num }}" class = "btn btn-outline-info mb-4">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page= {{ num }}" class = "btn btn-outline-info mb-4">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <!-- Next page -->
        <a href="?page= {{ page_obj.next_page_number}}" class = "btn btn-outline-info mb-4">Next</a>
        <!-- Last Page -->
        <a href="?page= {{ page_obj.paginator.num_pages }}" class = "btn btn-outline-info mb-4">Last</a>
      {% endif %}
    {% endif %}
{% endblock content %}