option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: AltText.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static_deploy
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: AltText.settings

container_commands:
    01_migrate:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python /var/app/current/manage.py migrate"
        leader_only: true