{% extends 'posts/base.html' %}

{% block content %}
    <style>
        .centered {
            text-align: center;
            color: purple;
        }

        .row {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .rectangle-container {
            perspective: 1000px; /* Perspective for 3D effect */
            margin: 0 20px; /* Adjust margin between rectangles */
            width: 300px; /* Adjust width as needed */
        }

        .rectangle {
            width: 300px; /* Occupy full width of container */
            height: 400px; /* Adjust height as needed */
            background-color: rgb(214, 153, 255); /* Light purple color */
            margin-bottom: 10px; /* Adjust margin between rectangles */
            transform-style: preserve-3d; /* Preserve 3D transformation */
            transition: transform 0.5s; /* Smooth transition for flip effect */
            cursor: pointer; /* Change cursor to pointer on hover */
            position: relative; /* Position for absolute child */
            border-radius: 20px; /* Rounded corners */
        }

        .rectangle.flipped {
            transform: rotateY(180deg); /* Rotate the rectangle */
        }

        .front,
        .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden; /* Hide the backface of the element */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .back {
            transform: rotateY(180deg); /* Initially hide the back */
            text-align: center;
            word-wrap: break-word; /* Wrap long text */
            font-size: 12px; /* Adjust font size */
            padding: 20px; /* Add padding for better readability */
        }

        .line {
            color: rgb(73,0,122);
            text-align: center;
            text-decoration-thickness: 20px;
        }
        .name {
            color: rgb(73,0,122);
            text-align: center;
            text-decoration-thickness: 20px;
            font-size: 20px;
            font-weight: bold;

        }

        .front img {
            width: 95%; /* Stretch the image horizontally to cover the rectangle */
            height: 95%; /* Maintain aspect ratio */
            object-fit: cover; /* Cover the entire area of the rectangle */
            border-radius: 20px; /* Rounded corners */
        }

    </style>
    
    <div class="centered">
        <h1>Team Behind This Project</h1>
    </div>
    
    <div class="row">
        <div class="rectangle-container">
            <div class="rectangle" onclick="flip(this)">
                <div class="front">
                    <img src="/static/teampics/kathrynringland.jpg" alt="Front Image">
                </div>
                <div class="back">
                    <div class="line">Hello! My name is Dr. Kate. I am the head of the Misfit Lab in the Computational Media Department at UC Santa Cruz. I've been an ARMY since 2020 and conceptualized this Archive by ARMY project in 2021.</div>
                </div>
            </div>
            <div class="name">Kathryn Ringland</div>
            <div class="line">Project Director</div>
        </div>
        <div class="rectangle-container">
            <div class="rectangle" onclick="flip(this)">
                <div class="front">
                    <img src="/static/teampics/jhertauher.jpg" alt="Front Image">
                </div>
                <div class="back">
                    <div class="line">Hello, I'm Jhertau Her, a second year undergraduate student majoring in Cognitive Science with a concentration in Human-Computer Interaction and AI. I've been a part of the Archive by ARMY project since January 2023 as a project lead. Fun fact: I created the AXA logo. As project lead, I manage the project's timeline and workflow to ensure everything runs smoothly. In my free time, I'm a full time ARMY who writes, draws, and engages with public policy!</div>
                </div>
            </div>
            <div class="name">Jhertau Her</div>
            <div class="line">Project Lead</div>
        </div>
        <div class="rectangle-container">
            <div class="rectangle" onclick="flip(this)">
                <div class="front">
                    <img src="/static/teampics/images.jpg" alt="Front Image">
                </div>
                <div class="back">
                    <div class="line">Good Job</div>
                </div>
            </div>
            <div class="name">Amir Valipour</div>
            <div class="line">Front-End Co-Lead(Design)</div>
        </div>
        <div class="rectangle-container">
            <div class="rectangle" onclick="flip(this)">
                <div class="front">
                    <img src="/static/teampics/edmundxu.jpg" alt="Front Image">
                </div>
                <div class="back">
                    <div class="line">Hello, my name is Edmund. I’m a 2nd year undergraduate majoring in Computer Science. I’ve been a part of the Archive by ARMY project for about a year as a front/back-end developer. During my time on the project, I have added functionalities to the website itself such as the upload feature, and implemented all of the designs from the Figma to the actual website. My hobbies are playing/watching basketball, hiking, and watching crime shows.</div>
                </div>
            </div>
            <div class="name">Edmund Xu</div>
            <div class="line">Front-End Co-Lead (Programming)</div>
        </div>
    </div>
    
    <div class="row">
        <div class="rectangle-container">
            <div class="rectangle" onclick="flip(this)">
                <div class="front">
                    <img src="/static/teampics/samiyahshaikh.jpg" alt="Front Image">
                </div>
                <div class="back">
                    <div class="line">Hi there! My name is Samiyah Shaikh, I am a third-year undergraduate student majoring in Computer Science. Since January 2023, I have been working as a software developer and AI researcher with the Archive by ARMY team. Throughout my time on this project, I have worked on various technical aspects, from helping set up the backend infrastructure to collaborating on the frontend UI/UX designs. My role has also involved conducting extensive research into various AI technologies to enhance our website's image detection capabilities and flagging system. Outside of all things tech, I enjoy playing badminton, chess, and reading.</div>
                </div>
            </div>
            <div class="name">Samiyah Shaikh</div>
            <div class="line">Back-End Project Co-Lead</div>
        </div>
        <div class="rectangle-container">
            <div class="rectangle" onclick="flip(this)">
                <div class="front">
                    <img src="/static/teampics/sanjanasudhakarpatil.jpg" alt="Front Image">
                </div>
                <div class="back">
                    <div class="line">Hi, I’m Sanjana Patil. I am a Computer Science graduate in my second year. I have always been an avid ARMY and that’s why I developed interest in working with Prof. Kate on the Archive by ARMY project. I will be helping with Image Recognition and Image Captioning for the website while working as a backend developer for this project. In my free time, I love dancing, exploring cute cafes, cooking or just doing my skincare while watching Kdramas!</div>
                </div>
            </div>
            <div class="name">Sanjana Patil</div>
            <div class="line">Back-End Project Co-Lead</div>
        </div>
        <div class="rectangle-container">
            <div class="rectangle" onclick="flip(this)">
                <div class="front">
                    <img src="/static/teampics/inanxu.JPG" alt="Front Image">
                </div>
                <div class="back">
                    <div class="line">Hi, my name is Inan. I'm a recent grad in Computer Science. I've been a part of the Archive by ARMY project for a year as an engineer. During my time on the project, I have been responsible for implementing site designs and managing our database. I enjoy cooking and hiking trails in my free time.</div>
                </div>
            </div>
            <div class="name">Inan Xu</div>
            <div class="line">Back-End Project Co-Lead</div>
        </div>
        <div class="rectangle-container">
            <div class="rectangle" onclick="flip(this)">
                <div class="front">
                    <img src="/static/teampics/images.jpg" alt="Front Image">
                </div>
                <div class="back">
                    <div class="line">Good Job</div>
                </div>
            </div>
            <div class="name">Laiy Joshi</div>
            <div class="line">Front End Designer</div>
        </div>
    </div>

    <div class="row">
        <div class="rectangle-container">
            <div class="rectangle" onclick="flip(this)">
                <div class="front">
                    <img src="/static/teampics/images.jpg" alt="Front Image">
                </div>
                <div class="back">
                    <div class="line">Good Job</div>
                </div>
            </div>
            <div class="name">Name</div>
            <div class="line">Job</div>
        </div>
    </div>

    <script>
        function flip(element) {
            element.classList.toggle('flipped');
        }
    </script>
{% endblock content %}
