{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <!-- <h1>Create a Post</h1> -->
    <link rel="stylesheet" href="{% static 'posts/post_form.css' %}">
    <div class="form p-4 post-form">
        {% if messages %}
            {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-wrapper">
                <fieldset class="form-group mb-3">
                    <legend class="border-bottom mb-4">
                    Upload
                    <span class="need-help"><a href="">Need Help?</a></span>
                    </legend>

                    <label for="id_photo" class="form-label requiredField">
                        Photo (2MB max):
                    </label>
                    {{ form.photo }}

                    <label for="id_alt_text2" class="form-label requiredField mt-4">
                        Alt Text:
                    </label>
                    <p>Suggestions: {{ form.suggested_alt_text }}</p>
                    {{ form.alt_text }}

                    <label for="id_tags" class="form-label requiredField mt-4">
                        Tags (separate tags by comma):
                    </label>
                    <p>Suggestions: {{ form.suggested_tags }}</p>
                    {{ form.tags }}
                    
                </fieldset>
            </div>
            <div class="form-group">
                <button class="upload-button btn btn-outline-info" type="submit">Upload</button>
            </div>
        </form>
    </div>
{% endblock content %}
